* text=auto

/.github export-ignore
/README.md export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/composer.json export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/phpunit.xml.dist export-ignore
/.php_cs_fixer.php export-ignore
