<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	colors="true"
    backupGlobals="false"
    stopOnFailure="false"
	processIsolation="false"
	backupStaticAttributes="false"
	bootstrap="vendor/autoload.php"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="kk-star-ratings">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Bhittani\WordPressTestSuite\Extensions\PHPUnit"/>
    </listeners>
    <php>
        <env name="WP_PLUGIN_FILE" value="index.php"/>
    </php>
</phpunit>
