.kk-star-ratings {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.kk-star-ratings.kksr-valign-top {
    margin-bottom: 2rem;
}

.kk-star-ratings.kksr-valign-bottom {
    margin-top: 2rem;
}

.kk-star-ratings.kksr-align-left {
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}

.kk-star-ratings.kksr-align-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.kk-star-ratings.kksr-align-right {
    -webkit-box-pack: flex-end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.kk-star-ratings .kksr-muted {
    opacity: .5;
}

.kk-star-ratings .kksr-stars {
    /* display: flex; */
    position: relative;
}

.kk-star-ratings .kksr-stars .kksr-stars-active,
.kk-star-ratings .kksr-stars .kksr-stars-inactive {
    display: flex;
}

.kk-star-ratings .kksr-stars .kksr-stars-active {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.kk-star-ratings .kksr-stars .kksr-star {
    /* display: inline-flex; */
    cursor: pointer;
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-star {
    cursor: default;
}

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon {
    /* fill: currentColor;
    stroke: currentColor; */
    transition: .3s all;
}

/* Images */

.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-stars-active {
    width: 0 !important;
}

.kk-star-ratings .kksr-stars .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars .kksr-star:hover ~ .kksr-star .kksr-icon {
    /* background-image: url("/wp-content/plugins/kk-star-ratings/public/gray.png"); */
    background-image: url("/wp-content/plugins/kk-star-ratings/public/svg/inactive.svg");
}

.kk-star-ratings .kksr-stars .kksr-stars-active .kksr-star .kksr-icon {
    /* background-image: url("/wp-content/plugins/kk-star-ratings/public/orange.png"); */
    background-image: url("/wp-content/plugins/kk-star-ratings/public/svg/active.svg");
}

.kk-star-ratings.kksr-disabled .kksr-stars .kksr-stars-active .kksr-star .kksr-icon,
.kk-star-ratings:not(.kksr-disabled) .kksr-stars:hover .kksr-star .kksr-icon {
    /* background-image: url("/wp-content/plugins/kk-star-ratings/public/yellow.png"); */
    background-image: url("/wp-content/plugins/kk-star-ratings/public/svg/selected.svg");
}

.kk-star-ratings .kksr-legend {
    margin-left: .75rem;
    font-size: 90%;
    opacity: .8;
}
