.kk-star-ratings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.kk-star-ratings.kksr-top {
    margin-bottom: 2rem;
}

.kk-star-ratings.kksr-bottom {
    margin-top: 2rem;
}

.kk-star-ratings.kksr-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.kk-star-ratings .kksr-stars {
    position: relative;
    display: table;
    line-height: 0;
}

.kk-star-ratings .kksr-stars .kksr-inactive-stars .kksr-star,
.kk-star-ratings .kksr-stars .kksr-active-stars .kksr-star {
    padding-right: 4px;
}
.kk-star-ratings .kksr-stars .kksr-inactive-stars .kksr-star:last-child,
.kk-star-ratings .kksr-stars .kksr-active-stars .kksr-star:last-child {
    padding-right: 0;
}

.kk-star-ratings .kksr-stars .kksr-active-stars {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.kk-star-ratings .kksr-stars:hover .kksr-active-stars {
    display: none;
}

.kk-star-ratings .kksr-stars .kksr-star {
    cursor: pointer;
    display: table-cell;
}

.kk-star-ratings .kksr-stars .kksr-star svg {
    pointer-events: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.kk-star-ratings .kksr-stars .kksr-active-stars .kksr-star svg {
    fill: rgb(245, 220, 168);
    stroke: rgb(226, 182, 87);
}
.kk-star-ratings .kksr-stars .kksr-star svg,
.kk-star-ratings .kksr-stars .kksr-star:hover ~ .kksr-star svg {
    fill: rgb(241, 241, 241);
    stroke: #d8d8d8;
    transform: rotate(0deg);
}
.kk-star-ratings .kksr-stars:hover .kksr-star svg {
    fill: rgb(228, 247, 157);
    stroke: rgb(192, 206, 133);
    transform: rotate(71deg);
}

.kk-star-ratings .kksr-stars .kksr-star.kksr-star-active:hover ~ .kksr-star.kksr-star-active svg {
    fill: rgb(241, 241, 241);
    stroke: #d8d8d8;
}
.kk-star-ratings .kksr-stars:hover .kksr-star.kksr-star-active svg {
    fill: rgb(247, 247, 157);
    stroke: rgb(192, 206, 133);
}

/* Legend */

.kk-star-ratings .kksr-legend {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: monospace;
    margin-left: 10px;
    border-radius: 4px;
    color: rgb(226, 182, 87);
    border: 2px solid rgb(226, 182, 87);
    background-color: white;
}
.kk-star-ratings .kksr-legend:before {
	left: -14px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
    border-right-color: rgb(226, 182, 87);
	border-width: 6px;
	margin-top: -6px;
}
.kk-star-ratings .kksr-legend:after {
	left: -13px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: transparent;
    border-right-color: white;
	border-width: 7px;
	margin-top: -7px;
}
.kk-star-ratings .kksr-legend .kksr-legend-score {
    display: inline-block;
    padding: 0 0 0 8px;
    font-weight: bold;
}
.kk-star-ratings .kksr-legend .kksr-legend-meta {
    display: inline-block;
    padding: 0 8px;
    color: #fff;
    background-color: rgb(226, 182, 87);
}

/* RTL */

.kk-star-ratings.kksr-rtl {
    direction: rtl;
}

/* RTL - stars */

.kk-star-ratings.kksr-rtl .kksr-stars .kksr-star {
    padding-left: 4px;
    padding-right: 0;
}

.kk-star-ratings.kksr-rtl .kksr-stars .kksr-active-stars {
    top: 0;
    right: 0;
}

/* RTL - legend */

.kk-star-ratings.kksr-rtl .kksr-stars .kksr-inactive-stars .kksr-star,
.kk-star-ratings.kksr-rtl .kksr-stars .kksr-active-stars .kksr-star {
    padding-left: 4px;
    padding-right: 0;
}
.kk-star-ratings.kksr-rtl .kksr-stars .kksr-inactive-stars .kksr-star:last-child,
.kk-star-ratings.kksr-rtl .kksr-stars .kksr-active-stars .kksr-star:last-child {
    padding-left: 0;
}
.kk-star-ratings.kksr-rtl .kksr-legend {
    margin-left: 0;
    margin-right: 10px;
}
.kk-star-ratings.kksr-rtl .kksr-legend:before {
    right: -14px;
    border-right-color: transparent;
    border-left-color: rgb(226, 182, 87);
}
.kk-star-ratings.kksr-rtl .kksr-legend:after {
    right: -13px;
    border-right-color: transparent;
    border-left-color: white;
}
.kk-star-ratings.kksr-rtl .kksr-legend .kksr-legend-score {
    padding: 0 8px 0 0;
}
